html {
	box-sizing: border-box;
}

*, *:before, *:after  {
	box-sizing: inherit;
}
.header {
	width: 70%;
  padding: 30px;
  text-align: center;
  background: #442b03;
  font-size: 35px;
  color: #ab8447;
  margin: auto;
}
body {
	background-color: #ab8447;
	font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	margin: 20px;
}
#ingredients {
    padding: 0 30px;
    clear: both;
    border-top: 2px dashed #BA5C12;
    border-bottom: 2px dashed #BA5C12;
    background-color: #FFF5EB;
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#note {
    width: 65%;
    float: left;
}
#article {
	padding: 0 30px;
    clear: both;
    border-top: 2px dashed #BA5C12;
    border-bottom: 2px dashed #BA5C12;
    background-color: #FFF5EB;
}
#recipe-info {
	padding: 0 30px;
    clear: both;
    border-top: 2px dashed #BA5C12;
    border-bottom: 2px dashed #BA5C12;
    background-color: #FFF5EB;
}
#recipe-notes {
	padding: 0 30px;
    clear: both;
    border-top: 2px dashed #BA5C12;
    border-bottom: 2px dashed #BA5C12;
    background-color: #FFF5EB;
}
#image {
    width: 30%;
    margin-right: 5%;
    float: left;
}
h1  {
	font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	color: #ffffff;
	font-size: 40px;
	padding-top: 20px;
}
a  {
	text-decoration: none;
	color: #2d4178;
}
ol  {
	line-height: 32px;
	padding-bottom: 16px;
	font-size: 20px;
}
ul  {
	line-height: 32px;
	font-size: 20px;
}

@media screen and (max-width: 300px) {
  .column {
    width: 100%;
  }
}

