* {
	box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
	float: left;
	width: 50%;
	padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
header {
	width: 90%;
  padding: 10px;
  text-align: center;
  background-color: #a5b442;
  font-size: 75px;
  color: #58432e;
  margin: auto;
}
body {
    background-color: #b0c712;
	background-image: url('images/cookie-background.jpg');
    margin: 0;
}
h2 {
	font-family: 'Josefin Sans', sans-serif;
    display: block;
    font-size: 35px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h1 {
	font-family: 'Josefin Sans', sans-serif;
    display: block;
    font-size: 65px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight:bolder;
	background-color: #a5b442;
}
p {
	font-family: 'Josefin Sans', sans-serif;
    display: block;
    font-size: 20px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
article {
	font-family: 'Josefin Sans', sans-serif;
    width: 70%;
    margin: auto;
	display: block;
	font-size: 20px;
	background-color: #a5b442
}
#recipe-info {
	font-family: 'Josefin Sans', sans-serif;
    display: flex;
    padding-bottom: 30px;
	font-size: 35px;
}
#image {
    width: 50%;
    margin-right: 5%;
    float: left;
}
#note {
	font-family: 'Josefin Sans', sans-serif;
    padding: 30px;
    margin: 0;
    clear: both;
	color: #58432e;
    border-bottom: 2px dashed white;
	font-size: 20px;
	background-color: #FFF5EB;
}
.lead {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 32px;
    font-size: 25px;
    color: #58432e;
}

#ingredients {
	font-family: 'Josefin Sans', sans-serif;
    padding: 0 30px;
    clear: both;
    border-top: 2px dashed #91a318;
    border-bottom: 2px dashed #91a318;
    background-color: #FFF5EB;
	font-size: 20px;
}
ul {
	font-family: 'Josefin Sans', sans-serif;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
	font-size: 20px;
}
ul li {
	font-family: 'Josefin Sans', sans-serif;
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid;
    border-color: #3E2F5B;
	font-size: 20px;
}
#directions {
	font-family: 'Josefin Sans', sans-serif;
    padding: 30px;
    margin: 0;
    clear: both;
    background-color: #b69674;
    color: white;
    border-bottom: 2px dashed white;
	font-size: 20px;
}
a  {
	font-family: 'Josefin Sans', sans-serif;
	text-decoration: none;
	color: #2d4178;
	font-size: 20px;
}
ol  {
	font-family: 'Josefin Sans', sans-serif;
	line-height: 32px;
	padding-bottom: 16px;
	font-size: 20px;
	font-size: 20px;
}
.button {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }
  .button2 {background-color: #da7d1b;} /* Blue */

  .column {
	float: left;
	width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }

@media screen and (max-width: 300px) {
  .column {
    width: 100%;
  }
}

