* {
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}
[class*="column-"] {
  float: left;
  padding: 15px;
}
body {
  background-image: url('images/cookie-background.jpg');
  margin: 30px;
padding: 45px;
}
h1 {
font-family: 'Josefin Sans', sans-serif;
  display: block;
  font-size: 55px;
  font-weight:bolder;
color: #e4d6ca;
background-color: #5b381a;
padding: 0px 20px 0px 20px;
}
p {
font-family: 'Josefin Sans', sans-serif;
  display: block;
  font-size: 20px;
color: #5b381a;
padding: 0px 20px 0px 20px;
}
.p1 {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 32px;
  font-size: 20px;
  color: #e4d6ca;
  background-color: #5b381a;
  padding: 0px 20px 0px 20px;
}
#ingredients {
font-family: 'Josefin Sans', sans-serif;
padding: 5px 20px 5px 20px;
  clear: both;
  background-color: #e4d6ca;
font-size: 20px;
}
ul {
font-family: 'Josefin Sans', sans-serif;
  display: block;
  list-style-type: disc;
  padding: 10px;
font-size: 20px;
}
ul li {
font-family: 'Josefin Sans', sans-serif;
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid;
  border-color:#ffffff;
font-size: 20px;
}
#directions {
font-family: 'Josefin Sans', sans-serif;
padding: 20px;
  margin: 0;
  clear: both;
  background-color: #ffffff;
  color: #5b381a;
  border-bottom: 2px dashed white;
font-size: 20px;
}
a  {
font-family: 'Josefin Sans', sans-serif;
text-decoration: none;
color: #da7d1b;
font-size: 20px;
}
ol  {
font-family: 'Josefin Sans', sans-serif;
line-height: 32px;
padding-bottom: 16px;
font-size: 20px;
color: #5b381a;
}
.button {
border: none;
color: white;
padding: 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}
.button2 {background-color: #da7d1b;}
#note {
font-family: 'Josefin Sans', sans-serif;
padding: 10px;
  margin: 0;
  clear: both;
color: #FFFfff;
font-size: 20px;
background-color: #5b381a;
}
#recipe-info {
font-family: 'Josefin Sans', sans-serif;
  display: flex;
  padding: 20px;
font-size: 35px;
margin: 0;
}

/*--------Media Queries---------*/
/*desktop*/
@media only screen and (max-width: 1700px) {
  .column-6 {width: 50%;}
  .column-12 {width: 50%;}
}

/*ipad*/
@media only screen and (max-width: 800px) {
  .column-6 {width: 50%;}
  .column-12 {width: 50%;}
  [class*="column-"] {
    width: 100%;
  }
  h1 {
    font-family: 'Josefin Sans', sans-serif;
      display: block;
      font-size: 35px;
      font-weight:bolder;
    color: #e4d6ca;
    background-color: #5b381a;
    }
}
/*mobile*/
@media only screen and (max-width: 300px) {
  [class*="column-"] {
    width: 100%;
  }
  h1 {
    font-family: 'Josefin Sans', sans-serif;
      display: block;
      font-size: 35px;
      font-weight:bolder;
    color: #e4d6ca;
    background-color: #5b381a;
    }
  }


