{
	box-sizing: border-box;
  }
  
  body {
	font-family: 'Open Sans', sans-serif;
	max-width: 80%;
	margin: auto;
	background-image: url('images/background-for-website.jpg');
	background-repeat: repeat;
  }
  .topnav {
	overflow: hidden;
	background-color: #fafaf7;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	padding: 10px 10px 10px 10px;
	margin: auto;
  }
  .topnav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
  }
  .topnav a:hover {
	background-color: #dd8442;
	color: #fafaf7;
	font-family: 'Open Sans', sans-serif;
  }
  .topnav .icon {
	display: none;
  }
  .topnav .search-container {
	float: right;
  }
  
  .topnav input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
  }
  
  .topnav .search-container button {
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: #fafaf7;
	font-size: 17px;
	border: none;
	cursor: pointer;
  }
  
  .topnav .search-container button:hover {
	background: #fafaf7;
  }
  
  .grid-container image{
	grid-template-columns: auto auto auto;
	grid-gap: 0px;
	background-image: url('images/hero-image.jpg');
	padding: 40px;
	margin: auto;
  }
  .grid-container {
	  display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 8px;
	background-color: #fafaf7;
	padding: 20px;
	  color: #eee7e4;
  }
  .grid-container > div {
	background-color: #fafaf7;
	text-align: left;
	padding: 10px 20px 10px 20px;
	font-size: 18px;
	  letter-spacing: 1px;
	  font-weight: 300;
  }
.grid-container2 {
	grid-template-columns: auto auto auto;
	grid-gap: 8px;
	background-color: #fafaf7;
	padding: 5px;
	  color: #1b1814;
  }
  .grid-container2 > div {
	background-color: #fafaf7;
	text-align: left;
	padding: 10px 20px 10px 20px;
	font-size: 18px;
	  letter-spacing: 1px;
	  font-weight: 300;
  }
  .grid-container3 {
	grid-template-columns: auto auto auto;
	grid-gap: 20px;
	background-color: #fafaf7;
	padding: 40px;
	  color: #1b1814;
  }
  .item1 {
	grid-column: 1 / 5;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: 600;
  }
  .item2 { 
	  grid-column: 1 / 2; 
	  padding: 20px;
	  font-weight: 600;
  }
  .item3 {
	  grid-column: 2 / 3;
	  padding: 20px;
	  font-weight: 600;
  }
  .item4 { 
	  grid-column: 3 / 4; 
	  padding: 20px;
	  font-weight: 600;
  }
  .item5 { 
	  grid-column: 1 / 5; 
	  font-weight: 600;
	  padding: 20px;
  }
  .column2 {
	float: left;
	width: 33.33%;
  }
  .row {
	  background-color: #f1f1f1;
  }
  .row:after {
	  background-color: #f1f1f1;
	content: "";
	display: table;
	clear: both;
  }
.slideshow-container {
  position: relative;
  background: #f1f1f1;
}
.mySlides {
  display: none;
  padding: 30px;
  text-align: center;
	font-size: 18px;
	color: #1b1814;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #1b1814;
  font-weight: bold;
  font-size: 22px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: #f1f1f1;
}
.dot-container {
    text-align: center;
    padding: 10px;
    background: #e0dab9;
	color: #dd8442;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
color: #dd8442;
}
/*Button Styles*/
.primarybutton {
	display: inline-block;
	border-radius: 4px;
	background-color: #dd8442;
	border: none;
	color: #fafaf7;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	width: 150px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
  }
  
  .primarybutton span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
  }
  
  .primarybutton span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
  }
  
  .primarybutton:hover span {
	padding-right: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
  }
  
  .primarybutton:hover span:after {
	opacity: 1;
	right: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
  }
  .secondarybutton {
	display: inline-block;
	border-radius: 4px;
	background-color: white;
	border: 2px solid #dd8442;
	color: black;
	text-align: center;
	font-size: 16px;
	padding: 8px;
	width: 150px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
  }
  
  .secondarybutton span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
  }
  
  .secondarybutton span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
  }
  
  .secondarybutton:hover span {
	padding-right: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
  }
  
  .secondarybutton:hover span:after {
	opacity: 1;
	right: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
  }
  .button {
	display: inline-block;
	border-radius: 4px;
	background-color: #dd8442;
	border: none;
	color: #fafaf7;
	text-align: center;
	font-size: 16px;
	padding: 8px;
	width: 150px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
  }
  
  .button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .button:hover span {
	padding-right: 25px;
  }
  
  .button:hover span:after {
	opacity: 1;
	right: 0;
  }
hr
{
	color:1px solid gray;
	max-width: 50%;
}
#typography
{
	padding-top:0;
	font-family: 'Open Sans', sans-serif;
}
ul 
{
	line-height: 20px;
	list-style-type: circle;
	font-family: 'Open Sans', sans-serif;
}
ol 
{
	line-height: 20px;
	font-family: 'Open Sans', sans-serif;
}
a 
{
	color: #dd8442;
  }
/*Typography Styles*/
#title
{
	font-size: 60px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;
}
h1
{
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	font-weight: 700;
	color: black;
}
h2
{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	line-height: 25px;
	font-weight: 600;
	color: black;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
}
.copyright {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 10px;
	background-color: #fafaf7;
	color: black;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
  
@media screen and (max-width: 650px) {

  h1
{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: black;
}
h2
{
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	line-height: 25px;
	font-weight: 600;
	color: black;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
}
.grid-container2 {
	grid-template-columns: auto auto auto;
	grid-gap: 8px;
	background-color: #fafaf7;
	padding: 5px;
	  color: #1b1814;
	  max-width: 100%;
  }
  .grid-container {
	grid-template-columns: auto auto auto;
	grid-gap: 8px;
	background-color: #fafaf7;
	padding: 20px;
	  color: #eee7e4;
	  max-width: 100%;
  }
  .grid-container > div {
	background-color: #fafaf7;
	text-align: left;
	  letter-spacing: 1px;
	  font-weight: 300;
  }
/*Media Queries*/
@media screen and (max-width: 600px) {
	.grid-container2 {
		grid-template-columns: auto auto auto;
		grid-gap: 8px;
		background-color: #fafaf7;
		padding: 5px;
		  color: #1b1814;
		  max-width: 100%;
	  }
	  .grid-container {
		grid-template-columns: auto auto auto;
		grid-gap: 8px;
		background-color: #fafaf7;
		padding: 20px;
		  color: #eee7e4;
		  max-width: 100%;
	  }
	  .grid-container > div {
		background-color: #fafaf7;
		text-align: left;
		  letter-spacing: 1px;
		  font-weight: 300;
	  }
h1
{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: black;
}
h2
{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	line-height: 25px;
	font-weight: 600;
	color: black;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
}
{
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
	  float: right;
	  display: block;
	}
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive .icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
	.column {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	  }
	  .topnav .search-container {
		float: none;
	  }
	  .topnav a, .topnav input[type=text], .topnav .search-container button {
		float: none;
		display: block;
		text-align: left;
		width: 100%;
		margin: 0;
		padding: 0px;
	  }
	  .topnav input[type=text] {
		border: 1px solid #ccc;  
	  }
	.column {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	  }
	 
  @media screen and (max-width: 500px) {
	.grid-container2 {
		grid-template-columns: auto auto auto;
		grid-gap: 8px;
		background-color: #fafaf7;
		padding: 5px;
		  color: #1b1814;
		  max-width: 100%;
	  }
	  .grid-container {
		grid-template-columns: auto auto auto;
		grid-gap: 8px;
		background-color: #fafaf7;
		padding: 20px;
		  color: #eee7e4;
		  max-width: 100%;
	  }
	  .grid-container > div {
		background-color: #fafaf7;
		text-align: left;
		  letter-spacing: 1px;
		  font-weight: 300;
	  }
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive .icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
	.column {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	  }
	  .topnav .search-container {
		float: none;
	  }
	  .topnav a, .topnav input[type=text], .topnav .search-container button {
		float: none;
		display: block;
		text-align: left;
		width: 100%;
		margin: 0;
		padding: 0px;
	  }
	  .topnav input[type=text] {
		border: 1px solid #ccc;  
	  }
	
	